*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
    background-color: #fad9d8;
}

header {
    background-color: brown;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Alinea el logo y la navegación en los extremos */
    align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo del logo */
.logo {
    max-height: 61px; /* Establece una altura máxima para el logo */
    display: flex;
    align-items: center; /* Centra verticalmente el logo dentro de su contenedor */
}

.logo img {
    height: 100%; /* Establece la altura del logo al 100% de su contenedor */
    margin-left: 5px; /* Espaciado entre el logo y la navegación */
}

/* Otros estilos de la barra de navegación */
nav ul {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li a:hover {
    color: #FF5733; /* Cambia el color al pasar el mouse por encima */
}


#reseñas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
}
.Titulo-reseñas{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    justify-content: column;
    justify-content: center;
    align-items: center;
}

.Titulo-reseñas span{
    font-size: 2.2rem;
    color: #252525;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #252525;
    color: #fff;
    border-radius: 5px;
}
.reseñas-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reseñas-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor:pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    flex-direction: column;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.reseñas-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

footer{
    position: absolute;
    bottom:0;
    text-align: center;
    width: 100%;
}
.social-nav{
    background-color: brown;
    padding: 3px;
    text-align: center;
    }
.social-nav a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: darkred;
    margin: 0 10px 2px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.social-nav a:hover{
    background-color: lightblue;
}

@media(max-width:1060px){
    .reseña-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .reseña-box{
        width:100%;
    }
    .reseña-box h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-bottom: 10px;
    }
}
::selection{
    color:#fff;
    background-color: #252525;
}